
body{
    display: flex;
    flex-direction: column;
    margin: 0;
    background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: url('../img/back.jpg');
}
#messages{
    margin: 100px 50px;
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    color: #fff;
    justify-content: center;
    gap: 180px;
    margin-bottom:400px;
}
.app{
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
.buttonsall{
    display: flex;
    justify-content: right;
}
.buttonsall button{
    padding: 10px;
    border-radius: 10px;
    border: none;
    background-color: #adbf6c;
    font-family: "Kurale", serif;
  font-weight: 400;
  font-style: normal;
  width: 170px;
}
.order{
    border: solid 1px rgba(0, 0, 0, 0.341);
    border-radius: 10px;
    padding: 40px;
    margin-bottom: 100px;
    font-size: 1.5rem;
    font-family: "Kurale", serif;
    font-weight: 400;
    font-style: normal;
    background-color: #fef9e7;
    opacity: 0.9;
    color: black;
    width: 500px;
    height: auto;
}
.confirmed{
    display: none;
}
.order h2{
    font-family: "Kurale", serif;
    font-weight: 600;
    font-style: normal;
    font-size: 1.8rem;
}
details[open] .and{
    display: none;
}
details .andv{
    display: none;
}
details[open] .andv{
    display: block;
    font-size: 1.4rem;
}
details[open]{
    margin-bottom: 40px;
}

.product{
    border-bottom: solid 1px rgba(0, 0, 0, 0.689);
}
.product:last-child{
    border-bottom: solid 0 rgba(0, 0, 0, 0.689);
}
summary {
    list-style: none;
  }
  summary::-webkit-details-marker {
    display: none;
  }